<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Entry Form</title>

  <link rel="shortcut icon" href="{[ favicon ]}">
  <link rel="stylesheet" type="text/css" href="{[ foundationcss ]}">
  <link rel="stylesheet" type="text/css" href="{[ blowdrycss ]}">
  <link rel="stylesheet" type="text/css" href="{[ maincss ]}">

  <script src="https://unpkg.com/vue@2.0.7/dist/vue.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
  <script src="https://unpkg.com/vuefire@1.3.0/dist/vuefire.js"></script>
</head>
<body>
  <div id="app">
    <div class="row">
      <div class="small-12 columns">
        <h2 class="text-align-center margin-20-0-50-0">Person Creation Machine</h2>
      </div>

      <div class="small-12 medium-6 large-4 columns bgc-h76b852 same-height">
        <h3 class="text-align-center white margin-top-20">Create a Person</h3>
        <div class="row">
          <div class="small-11 columns small-centered">
            <form id="form" class="form input-underline" v-on:submit.prevent="addPerson">
              <div class="row">
                <div class="small-12 columns">
                  First Name <span class="darkred float-right" v-show="!validation.firstname">Required</span>
                  <input type="text" v-model="newPerson.firstname" placeholder="Xithurian">
                </div>
              </div>

              <div class="row margin-top-15">
                <div class="small-12 columns">
                  Last Name <span class="darkred float-right" v-show="!validation.lastname">Required</span>
                  <input type="text" v-model="newPerson.lastname" placeholder="Ulon">
                </div>
              </div>

              <div class="row margin-top-15">
                <div class="small-12 columns">
                  Date of Birth <span class="darkred float-right" v-show="!validation.dob">Past date <span class="display-large-up">only</span></span>
                  <input type="date" v-model="newPerson.dob" placeholder="Date of Birth">
                </div>
              </div>
              <div class="row margin-top-15">
                <div class="small-12 columns">
                  US Zip Code <span class="darkred float-right" v-show="!validation.zipcode">Required</span>
                  <input type="text" v-model="newPerson.zipcode" placeholder="55555-4444">
                </div>
              </div>

              <div class="row margin-top-45 text-align-center">
                <div class="small-12 columns"><input v-bind:disabled="!isValid" type="submit" value="Create Person"></div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="small-12 medium-6 large-8 columns bgc-h5276b8 white same-height">
        <h3 class="text-align-center white margin-top-20">People Created</h3>
        <div class="row margin-top-20">
          <div class="small-11 columns small-centered box-shadow bgc-white black">
            <div class="row">
              <div class="small-12 columns">
                <div class="row bgc-h859fcd white bold">
                  <div class="small-3 columns">Name</div>
                  <div class="small-3 columns">Date of Birth</div>
                  <div class="small-3 columns">US Zip Code</div>
                  <div class="small-3 columns text-align-center">Remove</div>
                </div>
                <div class="row bgc-alternate" v-for="person in persons">
                  <div class="small-3 columns">{{ person.firstname }} {{ person.lastname }}</div>
                  <div class="small-3 columns">{{ person.dob }}</div>
                  <div class="small-3 columns">{{ person.zipcode }}</div>
                  <div class="small-3 columns text-align-center darkred bold" v-on:click="removePerson(person)">X</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="row">-->
      <!--<div class="small-12 columns">-->
        <!--&lt;!&ndash;<p>uid: {{ user.uid }}</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>person path: /persons/{{ user.uid }}</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>number of persons: {{ persons.length }}</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<button v-if="user.uid" v-on:click="addPerson">Add Person</button>&ndash;&gt;-->
        <!--<ul class="margin-top-50">-->
          <!--<li v-for="person in persons"><button v-on:click="removePerson(person)">Remove</button> {{ person }}</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  </div>


  <script>
    // Initialize Firebase
    firebase.database.enableLogging(false);  // toggle on for debug (it's noisy)

    var db = firebase.initializeApp({
      apiKey: "AIzaSyBZvJmFu8mrlliWmsYxfmO4UAb05wzpDZ8",
      authDomain: "wordfire-251e1.firebaseio.com",
      databaseURL: "https://wordfire-251e1.firebaseio.com",
      storageBucket: "wordfire-251e1.appspot.com",
      messagingSenderId: "436757678533"
    }).database();

    // Member variables
    var zipcodeRE = /^([0-9]{5})(?:[-\s]*([0-9]{4}))?$/;        // reference: http://stackoverflow.com/a/160880/1783439

    new Vue({
      el: '#app',
      beforeCreate: function() {
        // Setup Firebase onAuthStateChanged handler
        // https://firebase.google.com/docs/reference/js/firebase.auth.Auth
        // https://firebase.google.com/docs/reference/js/firebase.auth.Auth#onAuthStateChanged
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            this.user = user;
            this.$bindAsArray('persons', db.ref('persons/' + user.uid));  // https://github.com/vuejs/vuefire/blob/master/src/vuefire.js#L169
          }
          else {
            firebase.auth().signInAnonymously().catch(console.error);     // https://firebase.google.com/docs/reference/js/firebase.auth.Auth#signInAnonymously
          }
        }.bind(this))
      },
      // Initialize reactive props, bind later when user is available
      data: {
        user: {},
        persons: [],
        newPerson: {
          firstname: '',
          lastname: '',
          dob: '',
          zipcode: ''
        }        
      },
      // Demo add/remove to show it all works
      methods: {
        addPerson: function() {
            if(this.isValid) {
              // https://firebase.google.com/docs/reference/js/firebase.database.Reference#push
              this.$firebaseRefs.persons.push({
                firstname: this.newPerson.firstname,
                lastname: this.newPerson.lastname,
                dob: this.newPerson.dob,
                zipcode: this.newPerson.zipcode
              })
            }
        },
        removePerson: function(person) {
            this.$firebaseRefs.persons.child(person['.key']).remove();    // https://firebase.google.com/docs/reference/js/firebase.database.Reference#remove
        }
      },
      computed: {
        validation: function() {
          return {
            firstname: !!this.newPerson.firstname.trim(),
            lastname: !!this.newPerson.lastname.trim(),
            dob: new Date(this.newPerson.dob) < Date.now(),
            zipcode: zipcodeRE.test(this.newPerson.zipcode)
          }
        },
        isValid: function () {
          var validation = this.validation
          return Object.keys(validation).every(function (key) {
            return validation[key]
          })
        }
      }
    })
  </script>

  <script src="{[ jquery ]}"></script>
  <script src="{[ whatinput ]}"></script>
  <script src="{[ foundationjs ]}"></script>

  <script>
      $(document).ready(function() {
        $(document).foundation()

        // Match div heights
        var heights = $(".same-height").map(function() {
            return $(this).height();
        }).get(),
        maxHeight = Math.max.apply(null, heights);
        $(".same-height").height(maxHeight);
      })
    </script>
</body>
</html>