<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="keywords" content="python, vuejs, flask, firebase, selenium, serverless, scss, zappa">
  <meta name="description" content="A free demo that showcases a serverless site with real-time data.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Person Creation Machine</title>

  <link rel="shortcut icon" href="{[ url_for['favicon'] ]}">
  <link rel="stylesheet" type="text/css" href="{[ url_for['combinedcss'] ]}">
</head>
<body class="bgc-hf2f2f2">
  <div id="app">
    <div class="row inner-shadow">
      <div class="small-12 columns bgc-hfde942 h4b4513">
        <h2 class="text-align-center margin-20-0-30-0"><i class="material-icons font-size-48-i">&#xE8BF;</i> Person Creation Machine</h2>
      </div>

      <div class="small-12 medium-6 large-4 columns bgc-h76b852 same-height">
        <h3 class="text-align-center white margin-top-20">Create a Person <i class="material-icons font-size-36-i">&#xE84E;</i></h3>

        <div class="row">
          <div class="small-11 columns small-centered margin-top-20">
            <div class="width-93p bgc-white font-size-1 line-height-9 margin-0-auto">&nbsp;</div>
            <form id="{[ input_id['creationform'] ]}" class="form input-underline" v-on:submit.prevent="addPerson">
              <div class="row">
                <div class="small-12 columns">
                  First Name
                  <span class="hb85276 float-right" v-show="!validation.firstname">Required</span>
                  <span class="hb85276 float-right" v-show="validation.firstname && !validation.firstnamelength">Max Len {[ name_max_length ]}</span>
                  <input id="{[ input_id['firstname'] ]}" type="text" v-model="newPerson.firstname" placeholder="Xithurian" maxlength="{[ name_max_length ]}">
                </div>
              </div>

              <div class="row margin-top-15">
                <div class="small-12 columns">
                  Last Name <span class="hb85276 float-right" v-show="!validation.lastname">Required</span>
                  <span class="hb85276 float-right" v-show="validation.lastname && !validation.lastnamelength">Max Len {[ name_max_length ]}</span>
                  <input id="{[ input_id['lastname'] ]}" type="text" v-model="newPerson.lastname" placeholder="Ulon" maxlength="{[ name_max_length ]}">
                </div>
              </div>

              <div class="row margin-top-15">
                <div class="small-12 columns">
                  <!--Date Input Formatting Reference: http://stackoverflow.com/a/23683687/1783439-->
                  Date of Birth
                  <span class="hb85276 float-right" v-show="!validation.dobrequired">Required</span>
                  <span class="hb85276 float-right" v-show="validation.dobrequired && !validation.dob">Past date <span class="display-large-up">only</span></span>
                  <input id="{[ input_id['dob'] ]}" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" v-model="newPerson.dob" placeholder="mm/dd/yyyy">
                </div>
              </div>

              <div class="row margin-top-15">
                <div class="small-12 columns">
                  US Zip Code
                  <span class="hb85276 float-right" v-show="!validation.ziprequired">Required</span>
                  <span class="hb85276 float-right" v-show="validation.ziprequired && !validation.ziplength">Max Len {[ zipcode_max_length ]}</span>
                  <span class="hb85276 float-right" v-show="validation.ziprequired && validation.ziplength && !validation.zipregex">Ex<span class="display-large-up">ample</span>: 85812</span>
                  <input id="{[ input_id['zipcode'] ]}" type="text" v-model="newPerson.zipcode" placeholder="55555-4444" maxlength="{[ zipcode_max_length ]}">
                </div>
              </div>

              <div class="row margin-top-35 text-align-center">
                <div class="small-12 columns">
                  <button id="{[ input_id['submit'] ]}" class="button font-size-20-s padding-16-s-i" v-bind:disabled="!isValid" type="submit" name="submit">
                    <i class="material-icons">&#xE87C;</i>
                    <span>Create Person</span>
                  </button>
                  <div class="hb85276" v-show="!validation.population">Population Limit ({[ population_limit ]} max)</div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="small-12 medium-6 large-8 columns bgc-h5276b8 white same-height">
        <h3 class="text-align-center white margin-top-20">People Created</h3>
        <h6 class="text-align-center white margin-top-10">
          <i class="material-icons">&#xE7FB;</i> Total Population:
          <span id="{[ input_id['population'] ]}">{{ persons.length }}</span>
        </h6>

        <div class="row padding-top-20">
          <div class="small-11 medium-10 large-6 columns small-centered box-shadow bgc-white black border-radius-3">
            <div class="row">
              <div class="small-12 columns">
                <div class="row bgc-h31466e white bold font-size-18 line-height-2rem">
                  <div class="small-7 columns">Name</div>
                  <div class="small-3 columns">Age</div>
                  <div class="small-2 columns text-align-center">&nbsp;</div>
                </div>
                <div class="row bgc-alternate" v-for="(person, index) in persons">
                  <div class="small-7 columns">{{ person.firstname }} {{ person.lastname }}</div>
                  <div class="small-3 columns">{{ person.age }}</div>
                  <div class="small-2 columns text-align-center hb85276" v-on:click="removePerson(person)">
                    <i v-bind:id="index" class="material-icons font-size-18-i cursor-pointer">&#xE92B;</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row margin-top-69">
      <h3 class="text-align-center"><i class="material-icons rotate-m15 font-size-48-i">&#xE85E;</i> Population Table</h3>
      <div class="small-11 large-9 columns small-centered box-shadow bgc-white black margin-top-20">
        <div class="row">
          <div class="small-12 columns">
            <div class="row bgc-h52a9b8 white bold line-height-2rem">
              <div class="small-4 columns">Name</div>
              <div class="small-1 large-1 columns display-xlarge-up-i">Age</div>
              <div class="small-4 columns">Date of Birth</div>
              <div class="small-3 large-2 columns">US Zip Code</div>
              <div class="small-1 columns text-align-center">&nbsp;</div>
            </div>
            <div class="row bgc-alternate" v-for="person in persons">
              <div class="small-4 columns">{{ person.firstname }} {{ person.lastname }}</div>
              <div class="small-1 large-1 columns display-xlarge-up-i">{{ person.age }}</div>
              <div class="small-4 columns">{{ person.dob }}</div>
              <div class="small-3 large-2 columns">{{ person.zipcode }}</div>
              <div class="small-1 columns text-align-center hb85276" v-on:click="removePerson(person)">
                <i class="material-icons font-size-18-i cursor-pointer">&#xE92B;</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row max-width-100p bgc-black white text-align-center padding-20 margin-top-148">
      <div class="small-4 columns">
        <div class="bold"><i class="material-icons">&#xE254;</i> Author</div>
        <div>Chad Nelson</div>
      </div>

      <div class="small-4 columns">
        <div class="bold margin-bottom-10">Github Account</div>
        <div><a class="button small bgc-h5276b8 border-radius-5" href="https://github.com/nueverest/"><i class="material-icons">&#xE3F7;</i> nueverest</a></div>
      </div>

      <div class="small-4 columns">
        <div class="bold margin-bottom-10">Project Repository</div>
        <div><a class="button small bgc-h76b852 border-radius-5" href="https://github.com/nueverest/vue_flask"><i class="material-icons">&#xE87A;</i> vue_flask</a></div>
      </div>
    </div>
  </div>

  <script src="{[ url_for['combinedjs'] ]}"></script>

  <script>
    // Initialize Firebase
    firebase.database.enableLogging(false);  // toggle on for debug (it's noisy)

    var db = firebase.initializeApp({
      apiKey: "AIzaSyBZvJmFu8mrlliWmsYxfmO4UAb05wzpDZ8",
      authDomain: "wordfire-251e1.firebaseio.com",
      databaseURL: "https://wordfire-251e1.firebaseio.com",
      storageBucket: "wordfire-251e1.appspot.com",
      messagingSenderId: "436757678533"
    }).database();

    // Member variables
    var zipcodeRE = /^([0-9]{5})(?:[-\s]*([0-9]{4}))?$/;        // reference: http://stackoverflow.com/a/160880/1783439

    new Vue({
      el: '#app',
      beforeCreate: function() {
        // Setup Firebase onAuthStateChanged handler
        // https://firebase.google.com/docs/reference/js/firebase.auth.Auth
        // https://firebase.google.com/docs/reference/js/firebase.auth.Auth#onAuthStateChanged
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            this.user = user;
            this.$bindAsArray('persons', db.ref('persons'));              // https://github.com/vuejs/vuefire/blob/master/src/vuefire.js#L169
            console.log('user logged in: ', user);
          }
          else {
            console.log('not logged in…');
            firebase.auth().signInAnonymously().catch(console.error);     // https://firebase.google.com/docs/reference/js/firebase.auth.Auth#signInAnonymously
          }
        }.bind(this))
      },
      // Initialize reactive props, bind later when user is available
      data: {
        user: {},
        persons: [],
        newPerson: {
          firstname: '',
          lastname: '',
          dob: '',
          zipcode: ''
        }        
      },
      // Demo add/remove to show it all works
      methods: {
        addPerson: function() {
            if(this.isValid) {
              // https://firebase.google.com/docs/reference/js/firebase.database.Reference#push
              this.$firebaseRefs.persons.push({
                firstname: this.newPerson.firstname,
                lastname: this.newPerson.lastname,
                dob: this.newPerson.dob,
                age: this.personsAge(this.newPerson.dob),
                zipcode: this.newPerson.zipcode,
                uid: this.user.uid                          // ID of anonymous user that input data.
              })
            }
        },
        removePerson: function(person) {
            this.$firebaseRefs.persons.child(person['.key']).remove();    // https://firebase.google.com/docs/reference/js/firebase.database.Reference#remove
        },
        personsAge: function(dateString) {
          // Fastest JS age calculator http://jsperf.com/birthday-calculation/15
          var birthday = new Date(dateString);
          var ageDifMs = Date.now() - birthday.getTime();
          var ageDate = new Date(ageDifMs); // miliseconds from epoch
          return Math.abs(ageDate.getFullYear() - 1970);
        }
      },
      computed: {
        validation: function() {
          return {
            firstname: !!this.newPerson.firstname.trim(),
            firstnamelength: this.newPerson.firstname.trim().length <= {[ name_max_length ]},

            lastname: !!this.newPerson.lastname.trim(),
            lastnamelength: this.newPerson.lastname.trim().length <= {[ name_max_length ]},

            dobrequired: !!this.newPerson.dob.trim(),
            dob: new Date(this.newPerson.dob) < Date.now() - 86400000,    // 8.64e+7 milliseconds = 1 day

            ziprequired: !!this.newPerson.zipcode.trim(),
            ziplength: this.newPerson.zipcode.trim().length <= {[ zipcode_max_length ]},
            zipregex: zipcodeRE.test(this.newPerson.zipcode),

            population: this.persons.length < {[ population_limit ]}
          }
        },
        isValid: function () {
          var validation = this.validation
          return Object.keys(validation).every(function (key) {
            return validation[key]
          })
        }
      }
    })
  </script>

  <script>
    $(document).ready(function() {
      $(document).foundation();

      // Match div heights
      var heights = $(".same-height").map(function() {
          return $(this).height();
      }).get(),
      maxHeight = Math.max.apply(null, heights);
      $(".same-height").height(maxHeight);
    })
  </script>
</body>
</html>