<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Entry Form</title>

  <link rel="shortcut icon" href="{[ favicon ]}">
  <link rel="stylesheet" type="text/css" href="{[ blowdrycss ]}">

  <script src="https://unpkg.com/vue@2.0.7/dist/vue.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
  <script src="https://unpkg.com/vuefire@1.3.0/dist/vuefire.js"></script>
</head>
<body>
  <div id="app">
    <h1>Persons</h1>

    <form id="form" v-on:submit.prevent="addPerson">
      <div class="row">
        <div class="inline-block width-10p">First Name</div>
        <div class="inline-block"><input type="text" v-model="newPerson.firstname" placeholder="First Name"></div>
        <div class="inline-block darkred" v-show="!validation.firstname">First Name cannot be empty.</div>
      </div>

      <div class="row">
        <div class="inline-block width-10p">Last Name</div>
        <div class="inline-block"><input type="text" v-model="newPerson.lastname" placeholder="Last Name"></div>
        <div class="inline-block darkred" v-show="!validation.lastname">Last Name cannot be empty.</div>
      </div>

      <div class="row">
        <div class="inline-block width-10p">Date of Birth</div>
        <div class="inline-block"><input type="date" v-model="newPerson.dob" placeholder="Date of Birth"></div>
        <div class="inline-block darkred" v-show="!validation.dob">Date of birth must exist in the past.</div>
      </div>
      <div class="row">
        <div class="inline-block width-10p">US Zip Code</div>
        <div class="inline-block"><input type="text" v-model="newPerson.zipcode" placeholder="US Zip Code"></div>
        <div class="inline-block darkred" v-show="!validation.zipcode">US Zip Code format 55555, 55555-4444, or 55555 4444.</div>
      </div>

      <div class="row padding-top-20">
        <div class="inline-block width-10p"></div>
        <div class="inline-block"><input v-bind:disabled="!isValid" type="submit" value="Add Person"></div>
      </div>
    </form>

    <!--<p>uid: {{ user.uid }}</p>-->
    <!--<p>person path: /persons/{{ user.uid }}</p>-->
    <!--<p>number of persons: {{ persons.length }}</p>-->
    <!--<button v-if="user.uid" v-on:click="addPerson">Add Person</button>-->
    <ul class="margin-top-50">
      <li v-for="person in persons"><button v-on:click="removePerson(person)">remove</button> {{ person }}</li>
    </ul>
  </div>
  <script>
    // Initialize Firebase
    firebase.database.enableLogging(false);  // toggle on for debug (it's noisy)

    var db = firebase.initializeApp({
      apiKey: "AIzaSyBZvJmFu8mrlliWmsYxfmO4UAb05wzpDZ8",
      authDomain: "wordfire-251e1.firebaseio.com",
      databaseURL: "https://wordfire-251e1.firebaseio.com",
      storageBucket: "wordfire-251e1.appspot.com",
      messagingSenderId: "436757678533"
    }).database();

    // Member variables
    var zipcodeRE = /^([0-9]{5})(?:[-\s]*([0-9]{4}))?$/;        // reference: http://stackoverflow.com/a/160880/1783439

    new Vue({
      el: '#app',
      beforeCreate: function() {
        // Setup Firebase onAuthStateChanged handler
        // https://firebase.google.com/docs/reference/js/firebase.auth.Auth
        // https://firebase.google.com/docs/reference/js/firebase.auth.Auth#onAuthStateChanged
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            this.user = user;
            this.$bindAsArray('persons', db.ref('persons/' + user.uid));  // https://github.com/vuejs/vuefire/blob/master/src/vuefire.js#L169
          }
          else {
            firebase.auth().signInAnonymously().catch(console.error);     // https://firebase.google.com/docs/reference/js/firebase.auth.Auth#signInAnonymously
          }
        }.bind(this))
      },
      // Initialize reactive props, bind later when user is available
      data: {
        user: {},
        persons: [],
        newPerson: {
          firstname: '',
          lastname: '',
          dob: '',
          zipcode: ''
        }        
      },
      // Demo add/remove to show it all works
      methods: {
        addPerson: function() {
            if(this.isValid) {
              // https://firebase.google.com/docs/reference/js/firebase.database.Reference#push
              this.$firebaseRefs.persons.push({
                firstname: this.newPerson.firstname,
                lastname: this.newPerson.lastname,
                dob: this.newPerson.dob,
                zipcode: this.newPerson.zipcode
              })
            }
        },
        removePerson: function(person) {
            this.$firebaseRefs.persons.child(person['.key']).remove();    // https://firebase.google.com/docs/reference/js/firebase.database.Reference#remove
        }
      },
      computed: {
        validation: function() {
          return {
            firstname: !!this.newPerson.firstname.trim(),
            lastname: !!this.newPerson.lastname.trim(),
            dob: new Date(this.newPerson.dob) < Date.now(),
            zipcode: zipcodeRE.test(this.newPerson.zipcode)
          }
        },
        isValid: function () {
          var validation = this.validation
          return Object.keys(validation).every(function (key) {
            return validation[key]
          })
        }
      }
    })
  </script>
</body>
</html>