.font-size-18 {
    font-size: 1.125rem
    }
.margin-top-35 {
    margin-top: 2.1875rem
    }
.font-size-1 {
    font-size: 0.0625rem
    }
.margin-top-69 {
    margin-top: 4.3125rem
    }
.margin-top-10 {
    margin-top: 0.625rem
    }
.white {
    color: white
    }
.bgc-white {
    background-color: white
    }
.border-radius-5 {
    border-radius: 0.3125rem
    }
.bgc-h76b852 {
    background-color: #76b852
    }
.line-height-9 {
    line-height: 0.5625rem
    }
.bgc-black {
    background-color: black
    }
.bgc-hfde942 {
    background-color: #fde942
    }
.font-size-36-i {
    font-size: 2.25rem !important
    }
.bgc-hf2f2f2 {
    background-color: #f2f2f2
    }
.margin-top-20 {
    margin-top: 1.25rem
    }
.margin-top-148 {
    margin-top: 9.25rem
    }
.margin-0-auto {
    margin: 0rem auto
    }
.font-size-48-i {
    font-size: 3rem !important
    }
.float-right {
    float: right
    }
.bold {
    font-weight: bold
    }
.bgc-h52a9b8 {
    background-color: #52a9b8
    }
.padding-20 {
    padding: 1.25rem
    }
.text-align-center {
    text-align: center
    }
.width-93p {
    width: 93%
    }
.cursor-pointer {
    cursor: pointer
    }
.margin-bottom-10 {
    margin-bottom: 0.625rem
    }
.font-size-18-i {
    font-size: 1.125rem !important
    }
.border-radius-3 {
    border-radius: 0.1875rem
    }
.bgc-h5276b8 {
    background-color: #5276b8
    }
.margin-20-0-30-0 {
    margin: 1.25rem 0rem 1.875rem 0rem
    }
.padding-top-20 {
    padding-top: 1.25rem
    }
.margin-top-15 {
    margin-top: 0.9375rem
    }
.black {
    color: black
    }
.hb85276 {
    color: #b85276
    }
.max-width-100p {
    max-width: 100%
    }
.h4b4513 {
    color: #4b4513
    }
.line-height-2rem {
    line-height: 2rem
    }
.bgc-h31466e {
    background-color: #31466e
    }
.padding-16-s-i {
    padding: 1rem !important
    }
@media only screen and (max-width: 64rem) {
    .padding-16-s-i {
        padding: 0.9588rem !important
        }
    }
@media only screen and (max-width: 45rem) {
    .padding-16-s-i {
        padding: 0.8889rem !important
        }
    }
@media only screen and (max-width: 30rem) {
    .padding-16-s-i {
        padding: 0.8rem !important
        }
    }
@media only screen and (max-width: 64.0625rem) {
    .display-xlarge-up-i {
        display: none !important
        }
    }
.font-size-20-s {
    font-size: 1.25rem
    }
@media only screen and (max-width: 64rem) {
    .font-size-20-s {
        font-size: 1.1985rem
        }
    }
@media only screen and (max-width: 45rem) {
    .font-size-20-s {
        font-size: 1.1111rem
        }
    }
@media only screen and (max-width: 30rem) {
    .font-size-20-s {
        font-size: 1rem
        }
    }
@media only screen and (max-width: 45.0625rem) {
    .display-large-up {
        display: none
        }
    }