/* Reference: http://callmenick.com/post/various-css-input-text-styles */

/* Form */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 0 65px 0;
  padding: 10px 37px 30px 37px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Normalize Input Box */
input[type="text"],
input[type="date"] {
  margin: 0.25rem 0 0 0;
  font-family: sans-serif;
  color: #111111;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: unset;
}
input[type="text"]:focus,
input[type="date"]:focus {
  outline: none;
}

/* Underline Input Box */
.input-underline input[type="text"],
.input-underline input[type="date"] {
  padding: 10px;
  border: none;
  border-bottom: solid 1px #c9c9c9;
  transition: border 0.3s;
}
.input-underline input[type="text"]:focus,
.input-underline input[type="text"].focus,
.input-underline input[type="date"]:focus,
.input-underline input[type="date"].focus {
  border: none;
  border-bottom: solid 1px #969696;
}

/* Table */
.box-shadow {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 1px 8px 2px rgba(0, 0, 0, 0.24)
}

/* Alternating Row Style */
.bgc-alternate:nth-child(odd) {
  background: #f2f2f2;
}

/* Google Material Icon Vertical Align */
.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

/* Transformations */
.rotate-m15 {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.rotate-m30 {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.engrave-hfef9cf {
  text-shadow: 0 1px 0 rgba(254,248,207,1);
}

/* Ripple Effect used to indicate population change. Reference: http://codepen.io/daless14/pen/ELFgj
   :after and :before are the key to allowing the toggled classes to trigger the animation when they are added
   to the element.
 */
$base-color: #000;
$highlight-color: #fff;
$rip4: 28;
$rip3: $rip4 / 1.285;
$rip2: $rip4 / 1.5;
$rip1: $rip4 / 1.8;

/* Create person case - Ripple Out */
.ripple1-out:after, .ripple2-out:before {
  display:inline-block;
  border-radius:3px;
  width:3px;
  height:3px;
  opacity:0.125;
  -webkit-animation:ripple-out 1s ease-out;    /* 1s infinite ease-out */
  -moz-animation:ripple-out 1s ease-out;
}
.ripple1-out:after, .ripple2-out:before {
  content:'';
  position: absolute;
  top:43%;
  left:50%;
}
@-webkit-keyframes ripple-out
{
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  15% {
    box-shadow:0 0 0 0 $highlight-color,
               0 0 0 0 $base-color,
               0 0 0 0 $highlight-color,
               0 0 0 0 $base-color;
  }
  100% {
    box-shadow:0 0 30px #{$rip1}px $highlight-color,
               0 0 0.3px #{$rip2}px $base-color,
               0 0 5px #{$rip3}px $highlight-color,
               0 0 1.75px #{$rip4}px $base-color;
  }
}
@-moz-keyframes ripple-out
{
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  15% {
    box-shadow:0 0 0 0 $highlight-color,
               0 0 0 0 $base-color,
               0 0 0 0 $highlight-color,
               0 0 0 0 $base-color;
  }
  100% {
    box-shadow:0 0 30px #{$rip1}px $highlight-color,
               0 0 0.3px #{$rip2}px $base-color,
               0 0 5px #{$rip3}px $highlight-color,
               0 0 1.75px #{$rip4}px $base-color;
  }
}

/* Remove person case - Ripple In */
.ripple1-in:after, .ripple2-in:before {
  display:inline-block;
  border-radius:3px;
  width:3px;
  height:3px;
  opacity:0.125;

  -webkit-animation:ripple-in 1s ease-out;    /* 1s infinite ease-out */
  -moz-animation:ripple-in 1s ease-out;
}
.ripple1-in:after, .ripple2-in:before {
  content:'';
  position: absolute;
  top:43%;
  left:50%;
}
@-webkit-keyframes ripple-in
{
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  15% {
    box-shadow:0 0 0 0 $highlight-color,
               0 0 0 0 $base-color,
               0 0 0 0 $highlight-color,
               0 0 0 0 $base-color;
  }
  100% {
    box-shadow:0 0 30px #{$rip1}px $highlight-color,
               0 0 0.3px #{$rip2}px $base-color,
               0 0 5px #{$rip3}px $highlight-color,
               0 0 1.75px #{$rip4}px $base-color;
  }
}
@-moz-keyframes ripple-in
{
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  15% {
    box-shadow:0 0 0 0 $highlight-color,
               0 0 0 0 $base-color,
               0 0 0 0 $highlight-color,
               0 0 0 0 $base-color;
  }
  100% {
    box-shadow:0 0 30px #{$rip1}px $highlight-color,
               0 0 0.3px #{$rip2}px $base-color,
               0 0 5px #{$rip3}px $highlight-color,
               0 0 1.75px #{$rip4}px $base-color;
  }
}